# Unified Bandwidth Package Metrics (Aliyun CBWP / Tencent BWP)
prefix: bwp
namespaces:
  aliyun: acs_bandwidth_package
  tencent: QCE/BWP

canonical:
  traffic_rx_bps:
    aliyun:
      metric: DownstreamBandwidth
      unit: bit/s
      scale: 1
    tencent:
      metric: InTraffic
      unit: Mbps
      scale: 1000000
  traffic_tx_bps:
    aliyun:
      metric: UpstreamBandwidth
      unit: bit/s
      scale: 1
    tencent:
      metric: OutTraffic
      unit: Mbps
      scale: 1000000
  packet_rx:
    aliyun:
      metric: DownstreamPacket
      unit: count/s
      scale: 1
    tencent:
      metric: InPkg
      unit: count/s
      scale: 1
  packet_tx:
    aliyun:
      metric: UpstreamPacket
      unit: count/s
      scale: 1
    tencent:
      metric: OutPkg
      unit: count/s
      scale: 1
  utilization_rx_pct:
    aliyun:
      metric: in_bandwidth_utilization
      unit: percent
      scale: 1
    tencent:
      metric: IntrafficBwpRatio
      unit: percent
      scale: 1
  utilization_tx_pct:
    aliyun:
      metric: out_bandwidth_utilization
      unit: percent
      scale: 1
    tencent:
      metric: OuttrafficBwpRatio
      unit: percent
      scale: 1

aliyun_only:
  traffic_rx_bps:
    metric: net_rx.rate
    unit: bit/s
    scale: 1
  traffic_tx_bps:
    metric: net_tx.rate
    unit: bit/s
    scale: 1
  packet_rx:
    metric: net_rx.Pkgs
    unit: count/s
    scale: 1
  packet_tx:
    metric: net_tx.Pkgs
    unit: count/s
    scale: 1
  drop_rx_pps:
    metric: in_ratelimit_drop_pps
    unit: count/s
    scale: 1
  drop_tx_pps:
    metric: out_ratelimit_drop_pps
    unit: count/s
    scale: 1
