fullname: multicloud-exporter

image:
  registry: 
  repository: 
  tag: 
  pullPolicy: IfNotPresent

service:
  port: 9101
  type: ClusterIP
  nodePort:

serviceMonitor:
  enabled: false
  labels: {}
  scheme: http
  interval: "60s"
  scrapeTimeout: "30s"
  metricRelabelings: []
  relabelings: []

env:
  scrapeInterval: "60"

server:
  port: 9101
  page_size: 1000
  discovery_ttl: "24h"
  discovery_refresh: ""

accounts:
  secrets: []
  #   - name: accounts-1
  #     provider: aliyun
  #     regions: ["*"]
  #     resources: ["bwp"]
  #   - name: accounts-2
  #     provider: aliyun
  #     regions: ["*"]
  #     resources: ["bwp"]

resources: {}

nodeSelector: {}

tolerations: []

affinity: {}
