# OS/editor
.DS_Store
.*/
!/.github/

# Binaries & build outputs
bin/
build/
dist/
# !dist/multicloud-exporter-*

# Tests & coverage
*.test
*.out
*.cov
coverage/

# Logs
*.log
*.out
*.test
*.cov

# Env & secrets
.env
.env.*
*.pem
*.key

# Local Resources
data/
