{{- if and .Values.accounts (.Values.accounts.grouped) }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ default "multicloud-exporter" .Values.fullname }}-accounts
data:
  accounts.yaml: |
    accounts:
{{- if gt (len .Values.accounts.grouped.aliyun) 0 }}
      aliyun:
{{- range $i, $a := .Values.accounts.grouped.aliyun }}
        - account_id: ${ALY_ACC_{{ $i }}_ID}
          access_key_id: ${ALY_ACC_{{ $i }}_AK}
          access_key_secret: ${ALY_ACC_{{ $i }}_SK}
{{- if $a.regions }}
          regions: {{ toYaml $a.regions | nindent 12 -}}
{{- end }}
{{- if $a.resources }}
          resources: {{ toYaml $a.resources | nindent 12 -}}
{{- end }}
{{- end }}
{{- else }}
      aliyun: []
{{- end }}
{{- if gt (len .Values.accounts.grouped.tencent) 0 }}
      tencent:
{{- range $i, $a := .Values.accounts.grouped.tencent }}
        - account_id: ${TCE_ACC_{{ $i }}_ID}
          access_key_id: ${TCE_ACC_{{ $i }}_AK}
          access_key_secret: ${TCE_ACC_{{ $i }}_SK}
{{- if $a.regions }}
          regions: {{ toYaml $a.regions | nindent 12 -}}
{{- end }}
{{- if $a.resources }}
          resources: {{ toYaml $a.resources | nindent 12 -}}
{{- end }}
{{- end }}
{{- else }}
      tencent: []
{{- end }}
{{- if gt (len .Values.accounts.grouped.huawei) 0 }}
      huawei:
{{- range $i, $a := .Values.accounts.grouped.huawei }}
        - account_id: ${HUA_ACC_{{ $i }}_ID}
          access_key_id: ${HUA_ACC_{{ $i }}_AK}
          access_key_secret: ${HUA_ACC_{{ $i }}_SK}
{{- if $a.regions }}
          regions: {{ toYaml $a.regions | nindent 12 -}}
{{- end }}
{{- if $a.resources }}
          resources: {{ toYaml $a.resources | nindent 12 -}}
{{- end }}
{{- end }}
{{- else }}
      huawei: []
{{- end }}
{{- else if and .Values.accounts (.Values.accounts.secrets) }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ default "multicloud-exporter" .Values.fullname }}-accounts
data:
  accounts.yaml: |
    accounts_list:
{{- range $i, $a := .Values.accounts.secrets }}
      - provider: {{ $a.provider | default "aliyun" }}
        account_id: ${ACC_{{ $i }}_ID}
        access_key_id: ${ACC_{{ $i }}_AK}
        access_key_secret: ${ACC_{{ $i }}_SK}
{{- if $a.regions }}
        regions: {{ toYaml $a.regions | nindent 10 -}}
{{- end }}
{{- if $a.resources }}
        resources: {{ toYaml $a.resources | nindent 10 -}}
{{- end }}
{{- end }}
{{- end }}
