{{- if .Values.headless.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ if .Values.headless.name }}{{ .Values.headless.name }}{{ else }}{{ default "multicloud-exporter" .Values.fullname }}-headless{{ end }}
  labels: {{- include "multicloud-exporter.labels" . | nindent 4 }}
spec:
  clusterIP: None
  publishNotReadyAddresses: true
  ports:
    - name: http
      port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
  selector: {{- include "multicloud-exporter.selectorLabels" . | nindent 4 }}
{{- end }}
