apiVersion: v1
kind: Service
metadata:
  name: {{ include "multicloud-exporter.fullname" . }}
  labels: {{- include "multicloud-exporter.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
      nodePort: {{ and (eq .Values.service.type "NodePort") .Values.service.nodePort }}
  selector: {{- include "multicloud-exporter.selectorLabels" . | nindent 4 }}
